@using ASM_PH35423.Components.ComponentCustom
@using Microsoft.AspNetCore.Authorization
@implements IDisposable

@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject SignInManager<ApplicationUser> _signInManager
@inject IHttpClientFactory HttpClientFactory


<div class=" navbar navbar-dark">
    <div class="container-fluid">
        <NavLink class="nav-link" href="">
            <img style="width : 200px" src="\Img\Logo1.png" />
        </NavLink>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView> 
            <Authorized>
                <AuthorizeView Roles="Student" Context="ForStudent">
                    
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/History">
                            <MudIconButton Icon="@Icons.Material.Filled.History" Color="Color.Tertiary" Size="Size.Small" />Lịch sử thi
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/ListExamUser">
                            <MudIconButton Icon="@Icons.Material.Filled.FormatListBulleted" Color="Color.Tertiary" Size="Size.Small" />Danh sách bài thi
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="Teacher,Admin" Context="ForTeacher">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/StoreExam">
                            <MudIconButton Icon="@Icons.Material.Filled.LocalLibrary" Color="Color.Tertiary" Size="Size.Small" />Thư viện của bạn
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/ListResultExam">
                            <MudIconButton Icon="@Icons.Material.Filled.SportsScore" Color="Color.Tertiary" Size="Size.Small" />Kết quả bài thi
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="Admin" Context="ForAdmin">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/ManageAccount">
                            <MudIconButton Icon="@Icons.Material.Filled.ManageAccounts" Color="Color.Tertiary" Size="Size.Small" />Quản lý tài khoản
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/ManageAuthor">
                            <MudIconButton Icon="@Icons.Material.Filled.SettingsAccessibility" Color="Color.Tertiary" Size="Size.Small" />Quản lý quyền
                        </NavLink>
                    </div>
                </AuthorizeView>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="Account/Login" />
                        <button type="submit" class="nav-link d-flex justify-content-start">
                            <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Tertiary" Size="Size.Small" />Đăng xuất
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <MudIconButton Icon="@Icons.Material.Filled.AppRegistration" Color="Color.Tertiary" Size="Size.Small" /> Đăng ký
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <MudIconButton Icon="@Icons.Material.Filled.Login" Color="Color.Tertiary" Size="Size.Small" /> Đăng nhập
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;


    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }


    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

